<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstaFácil - Home</title>
    <link rel="stylesheet" href="~/Content/homestyle.css">
    <link rel="stylesheet" href="~/Content/Globalstyle.css">
    <script src="https://kit.fontawesome.com/aa67c53adc.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".botaomenu").click(function () {
                $(".wrapper-mobile ul").slideToggle();
                $(".wrapper-mobile i").toggleClass("fa-bars");
                $(".wrapper-mobile i").toggleClass("fa-times");
            });
        });
    </script>
</head>
<body>
    <header>

        <div class="wrapper-mobile">
            <div class="botaomenu">
            <div class="fa-3x">
            <i class="fa-solid fa-bars fa-beat" style="--fa-animation-duration: 0.5s;"></i>
            </div></div>
            <ul class="nav-area">
                <li></li>
                <li><a href="/Home/homeindex">Home</a></li>
                <li><a href="/Tutorial/tutorialindex">Tutorial</a></li>
                <li><a href="/Contato/contatoindex">Contate-nos</a></li>
                <li><a href="/Login/LoginIndex">Login</a></li>
            </ul>
        </div>

        <div class="logo">
            <h1>Esta<span>Fácil</span></h1>
        </div>
        <div class="texto">
            <p>
                O Estafácil tem como objetivo, entregar a grandes lojas e empresas a facilidade de gerenciamento de estacionamentos, assim sabendo quem entrou e saiu, e quando. Gerenciamento de pessoas e o ciclo das mesmas,
                tornando automático sobre que funcionários e clientes deixaram a loja, ou deixaram seus carros no estacionamento durante a noite, mais eficiente para funcionários, quando trocam de turno conseguem facilmente
                acessar os registros. A consulta pode ser feita pelo computador ou pelo celular de qualquer lugar, basta ter acesso ao banco.
            </p>
        </div>
        <div class="anuncio">
            <h1>
                Há espaços para anúncios dísponíveis, se quer sua marca em nosso APP, entre em contato.
            </h1>
        </div>

    </header>

</body>
</html>